<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Games</title>
    <link rel="stylesheet" href="/styles/games.css">
</head>
<body>
<h1>Games</h1>
<p>Select a game to play:</p>
<ul>
    <li><a href="/casino/blackjack">Blackjack</a></li>
    <li><a href="/casino/bingo">Bingo</a></li>
    <li><a href="/casino/slots">Slots</a></li>
    <li><a href="/casino/higherorlower">Higher or Lower</a></li>
    <li><a href="/casino/ridethebus">Ride the Bus</a></li>
    <li><a href="/casino/mines">Mines</a></li>
</ul>
<a href="/lobby">Back to Lobby</a>
</body>
</html>
