<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="/styles/welcome.css">
</head>
<body>
<h1>Welcome to the Shady Saloon, <span th:text="${name}"></span>!</h1>
<p>You currently have <span th:text="${chips}"></span> chips and $<span th:text="${money}"></span>.</p>
<ul>
    <li><a href="/receptionist">Talk to the Receptionist</a></li>
    <li><a href="/games">Games</a></li>
    <li><a href="/leave">Leave</a></li>
</ul>
</body>
</html>
